<ion-header>
  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only
              (click)="standing()">
        <ion-icon name="md-analytics"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">List of Admin Points Members
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item *ngFor="let eachValue of loadedList">
    <ion-thumbnail item-start>
      <img src="{{imageUrl + eachValue.photo}}">
    </ion-thumbnail>

    <h2 style="margin-top: 10px !important;">{{eachValue.full_name}}</h2>
    <h3>{{eachValue.email}}</h3>
    <h4 text-wrap>{{eachValue.designation}}</h4>
    <h5 text-wrap>{{eachValue.dept_name}}</h5>
    <p text-wrap style="color:#00953B;">{{eachValue.points}} points</p>
    <div item-end>
      <div style="float: none !important;">
        <button ion-button icon-only
                (click)="onAddToSelectList(eachValue)"
                class="button-font-size"
                color="customColor">
          <ion-icon name="md-add"></ion-icon>
        </button>
      </div>

      <div>
        <button ion-button icon-only
                class="button-font-size"
                color="customColor"
                (click)="onRemoveToSelectList(eachValue)">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </div>

    </div>
  </ion-item>

</ion-content>
