<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">Top7L2n
    </ion-title>
  </ion-navbar>

</ion-header>>


<ion-content padding>

  <ion-list margin-bottom
            *ngFor="let eachValue of nominatedPersonList;let i = index"
            class="custom-font">
    <ion-list-header text-center
                     style="color:#00953B !important;
                     font-size: 1.6em !important;" *ngIf="i==0">
     List Of Nominated Person
    </ion-list-header>

    <ion-list-header text-center
                     style="color:#EE7516 !important;
                     font-size: 1.6em !important;" *ngIf="i==7">
      List Of Waiting Person
    </ion-list-header>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{imageUrl + eachValue.photo}}">
      </ion-thumbnail>

      <h2 style="margin-top: 10px !important;">{{eachValue.name}}</h2>
      <h3>{{eachValue.email}}</h3>
      <h4 text-wrap>{{eachValue.designation}}</h4>
      <h5 text-wrap>{{eachValue.dept_name}}</h5>
      <p text-wrap style="color:#00953B;">{{eachValue.total}} points</p>

    </ion-item>

  </ion-list>

  <ion-list *ngIf="waitingFlag" >



    <ion-item *ngFor="let eachValue of waitingPersonList">
      <ion-thumbnail item-start>
        <img src="{{imageUrl + eachValue.photo}}">
      </ion-thumbnail>

      <h2 style="margin-top: 10px !important;">{{eachValue.full_name}}</h2>
      <h3>{{eachValue.email}}</h3>
      <h4 text-wrap>{{eachValue.designation}}</h4>
      <h5 text-wrap>{{eachValue.dept_name}}</h5>
      <p text-wrap style="color:#00953B;">{{eachValue.points}} points</p>

    </ion-item>

  </ion-list>

</ion-content>
