<ion-header>
  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only
              (click)="standing()">
        <ion-icon name="md-analytics"></ion-icon>
      </button>


      <button ion-button icon-only
              (click)="postingData()"
              [disabled] ="memberListsLength != totalTeamMember">
        <ion-icon name="md-send"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">Selected Team Members
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let eachValue of memberLists">
    <ion-thumbnail item-start>
      <img src="{{imageUrl + eachValue.photo}}">
    </ion-thumbnail>
    <h2 style="margin-top: 10px !important;">{{eachValue.full_name}}</h2>
    <h3>{{eachValue.email}}</h3>
    <h4 text-wrap>{{eachValue.designation}}</h4>
    <h5 text-wrap>{{eachValue.dept_name}}</h5>
    <button ion-button clear item-end class="button-font-size" color="danger"
            (click)="onRemoveFromSelectedList(eachValue)">Remove</button>
  </ion-item>
</ion-content>
