<ion-tabs selectedIndex="1"
          color="customColor"
          class="custom-font">
  <ion-tab tabIcon="ios-star-outline" tabTitle="Selected Members" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="ios-contact-outline" tabTitle="Members List" [root]="tab1" ></ion-tab>
</ion-tabs>
